@import 'https://use.typekit.net/xzu4tjo.css';

h1,
h2,
h3,
h4 {
  font-family: "Butler-light";
}

.butler {
  font-family: 'Butler-light', sans-serif;
  font-display: auto;
}

body {
  font-family: sofia-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.intro-text {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.6875rem;
}

.email-link {
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

a {
  text-decoration: underline;
}

.woocommerce-Address a {
  margin-bottom: 16px;
}

a.button {
  color: #007bff!important;
}

label[for=card-element]
{
  font-weight: 500;
}

.email-link:hover {
  text-decoration: underline;
}

.text-decoration-none {
  text-decoration: none;
}